.folders
  > folder > .folder, > file > .file
    padding-left 12.5px
  > folder > .subfolders
    padding-left 36.5px

.subfolders
  padding-left 24px

.enlarge, .icon
  float left
  width 14px
  height 14px
  margin-top 8px

.icon
  margin-right 10px
  margin-left 7.5px
