.folder {
  padding-left: 12.5px;
}
.subfolders {
  position: relative;
}
.enlarge,
.icon {
  float: left;
  width: 14px;
  height: 14px;
  margin-top: 8px;
}
.icon {
  margin-right: 10px;
  margin-left: 7.5px;
}
