.folder
  padding-left 12.5px

.subfolders
  padding-left 12.5px
  .folder
    padding-left 25px

.enlarge, .icon
  float left
  width 14px
  height 14px
  margin-top 8px

.icon
  margin-right 10px
  margin-left 7.5px
