$blue-active = #4285f4
$black-directory-text = #6f6f6f

.folder, .file
  &.open
    font-weight 800
  &.selected
    background-color $blue-active
  &:hover
    background-color $blue-active
    cursor pointer
