.folder,
.file {
  color: #000;
  width: 100%;
  line-height: 30px;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.folder:hover,
.file:hover,
.folder.selected,
.file.selected {
  color: #fff;
  background-color: #4688f1;
}
.folder:hover,
.file:hover {
  cursor: pointer;
}
.folder:hover > .black-expand-icon,
.file:hover > .black-expand-icon {
  opacity: 1;
  background-position: -84px 0;
}
.folder:hover > .black-shrink-icon,
.file:hover > .black-shrink-icon {
  opacity: 1;
  background-position: -98px 0;
}
.folder-icon,
.private-folder-icon,
.file-icon,
.close-icon,
.black-expand-icon,
.black-shrink-icon,
.white-expand-icon,
.white-shrink-icon {
  width: 14px;
  height: 14px;
  background-image: url("./assets/images/icon-sprite.png");
  background-repeat: no-repeat;
}
.folder-icon {
  background-position: 0 0;
}
.private-folder-icon {
  background-position: -14px 0;
}
.file-icon {
  background-position: -28px 0;
}
.close-icon {
  opacity: 0.3;
  background-position: -42px 0;
}
.black-expand-icon {
  opacity: 0.4;
  background-position: -56px 0;
}
.black-shrink-icon {
  opacity: 0.4;
  background-position: -70px 0;
}
.white-expand-icon {
  background-position: -84px 0;
}
.white-shrink-icon {
  background-position: -98px 0;
}
